.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}

input{
    width: 85%;
    padding: 10px;
}

.button-container{
    width: 100%;
    box-sizing: border-box;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

button{
    padding: 10px;
    background-color: rgb(158, 137, 14);
    border: none;
    border-radius: 2px;
    margin-right: 10px;
}