.menu{
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
    background-color: rgb(30, 15, 44);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.links{
    color: #ffffff;
    font-size: 22px;
}
