.menu{
    display: flex;
    justify-content: space-evenly;
    vertical-align: center;
    background-color: #000a12;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.links{
    color: #cfd8dc;
    font-size: 22px;
}
